#mainframe {
  height: 70vh;
  width: 100vw;
  padding-top: 10%;
}

.inner-toolbox {
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
}

#testbox {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

#target-container {
  width: 70%;
  padding: 2%;
}

.tcontainer {
  width: 100%;
}

#right-side-bar {
  margin-left: 20px;
  border-radius: 50%;
  border: 1px black;
  width: 30%;
}

.sidebutton {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding-left: 10%;
}

.eventclick {
  z-index: 2;
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
}

.button {
  color: black;
  font-family: manroperegular;
  font-size: 10px;
}

.eventclick:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.zoomin {
  transition: transform 0.2s;
}

#events-lr {
  background-color: transparent;
}

#events-rr {
  background-color: transparent;
}

#eventscont {
  height: 100%;
}

.target {
  height: 90%;
  margin-left: 7%;
  margin-right: 5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.event {
  width: 300px;
  height: 400px;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 2%;
  margin-left: 2%;
  border: 1px solid grey;
  border-radius: 10px;
  align-items: center;
}

.event:hover {
  transform: scale(1.07);
}

.event:hover .cover-photo {
  transform: scale(1.3);
}

.event-inner {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.event-outter {
  margin-top: 20px;
  width: 300px;
  height: 100px;
  align-content: center;
}

.title-container {
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.card-description {
  font-size: 12px;
  font-family: manropelight;
}

.description {
  font-size: 20px;
  font-family: manropelight;
}

.card-time {
  font-size: 12px;
  font-family: manropebold;
}

.tag {
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-family: manroperegular;
  color: white;
}

.type {
  background-color: #c34c64;
}

.language {
  background-color: #c34c64;
}

.backbutton {
  background-color: transparent;
  border: none;
  width: 100px;
  height: 20px;
  text-align: left;
}

.scroller {
  --scrollbar-color-thumb: #e83c60;
  --scrollbar-color-track: none;
  --scrollbar-width: 12px;
  --scrollbar-width-legacy: 10px;
  --scrollbar-border-radius: 20px;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .scroller {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}
.target::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.target::-webkit-scrollbar-track {
  background: none; /* color of the tracking area */
}

.target::-webkit-scrollbar-thumb {
  background-color: #c34c64; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: none; /* creates padding around scroll thumb */
} 
@media only screen and (max-width: 600px) {
  #mainframe {
    height: 90vh;
    width: 100vw;
  }
  .target {
    height: 100%;
    width: 100vw;
    align-items: center;
    margin: 0;
  }
  .event {
    width: auto;
    height: 700px;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 0;
    border: 0px solid white;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-radius: 10px;
    align-items: center;
  }
  .event-inner {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }
  .eventclick {
    width: 90%;
  }
  .tag-container {
    width: 150px;
    display: inline;
    height: 20px;
    overflow: hidden;
    text-align: center;
  }
  .tag {
    width: 150px !important;
    height: 20px !important;
    display: inline-block;
    margin-top: 2% !important;
    margin-left: 2% !important;
  }
  .event-outter {
    width: 100vw;
  }
  .title-container {
    height: 200px;
  }
  .card-title {
    font-size: 100px;
  }
  .card-description {
    font-size: 10px;
    font-family: manropelight;
  }
  .description {
    font-size: 7px;
    font-family: manropelight;
  }
  .card-time {
    font-size: 4px;
    font-family: manropebold;
  }
  .dropbtn {
    padding: 15px;
    width: 100vw;
    height: 50px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 150px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 50vw;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.775);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .sidebar {
    height: auto;
  }
  .eventclick:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1);
  }
  .event:hover {
    transform: scale(1);
  }
  .event:hover .cover-photo {
    transform: scale(1);
  }
}/*# sourceMappingURL=toolbox.css.map */