#postbody{
    height: 100vh; 
    padding-right: 5%; 
    padding-left: 5%; 
}

.innerbody{
    width: 100%; 
    padding-left: 2%; 
}

.event-title{
    text-transform: capitalize;
}

.event-details{
    font-family: manroperegular;
    font-size: 13px; 
}

.description{
    font-family: manroperegular; 
    font-size: 15px; 
    padding-top: 15px; 
}

.temporary-buy-button{
    background-color: transparent;
    border-radius: 5px; 
    border: 1px solid grey; 
    width: 200px; 
    text-align: center;
    color: grey; 
    margin-top: 1%; 
}

.event-book{
    padding-top: 2%; 
}