html,
body {
  margin: 0;
  padding: 0;
  width: 100vw; 
  height: 100vh; 
  margin: 0; 
  display: flex;
}

body {
  overflow-x: hidden;
}

.light-theme{
  color: pink;
}

.dark-theme{
  color: black;
  .img {
    -webkit-filter: invert(1);
    filter: invert(1);
    }
  
}

#threescene{
  position: absolute;
  top: 0; 
  left: 0; 
  outline: none; 
  z-index: -1;
}

#tdscene{
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0; 
  left: 0; 
  z-index: 1;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#promptsleft{
  right:0; bottom:0;
  position: absolute;
  width: 200px;
  height: 20px;  
  text-align: right;
  display: flex; 
  padding: 5%;
  text-transform: uppercase; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  z-index: 3; 
}

#promptsright{
  left:0; bottom:0;
  position: absolute;
  width: 200px;
  height: 20px;
  text-align: right;
  display: flex; 
  padding: 5%;
  text-transform: uppercase; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  z-index: 3; 
}

#promptsbottom {
  bottom:0;
  width: 100vw;
  position: fixed; 
  text-align: center;
  text-transform: uppercase; 
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  z-index: 3; 

  #btxt {
    bottom: 0 !important;
  }

}

#promptscenter {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw; 
  height: 100vh; 
  align-items: center;
  text-align: center;
  bottom: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  text-transform: uppercase;
  font-size: 8px;
  vertical-align: middle;
}

.container{
  height: 100vh;

}

section{
  height: 150vh;
}

h1 {
  text-transform: uppercase;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}



#ui{  
    display: flex;  
    flex-direction: row;
    position: absolute; 
    width: inherit;
    height: inherit;
    top: 0; left:0; 
    text-align: center; 
    align-items: center;
    justify-content: center;
    margin: auto; 
    padding-top: 5%;
    z-index: 1;

    #logo {
      min-width: 50px;
      width: 5%; 
      padding-bottom: 10%; 
    }
    

    p{
      font-size: 100; 
      animation: pulse 1s infinite;
    }
}

#navigation {
  display: flex;  
  flex-direction: row;
  position: fixed; 
  width: inherit;
  height: inherit;
  color: white; 
  z-index: 2; 

  .m {
    display: flex; 
    flex-direction: column !important;
    width: 3%;
    height: 100%; 
  }


  #controls{
    //background-color: hotpink;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }


  #dropdown{
    top:0; left: 0;
    position: absolute;
    padding: 2vw;
    align-items: left;
    color: black; 
   
  }

  #menu {
    top:0; right: 0;
    position: absolute;
    padding: 2vw;
    padding-right: 4vw !important;
    display: flex;
    flex-direction: row !important;
    
  }


// SHAPE CLASSES
.circle {
  height: 2px;
  width: 2px;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index:-2;
}
} 

.circle:hover{
  //background-color: pink;
  width: 5px;
}

.btn-toggle{
  background-color: pink;
  width:5px;
}

.btn-toggle:hover{
background-color: blue;
}

.button{
  padding-top: 5vh;
  visibility: hidden;
}



// UI BREAKING POINTS 

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

//ANIMATIONS 

@keyframes pulse {
	0% {
		opacity: 100%;
	}

	70% {
		opacity: 70%;
	}

  100% {
		opacity: 100%;
	}
}

@media only screen and (max-width: 600px) {
  #ui{  
    display: flex;  
    flex-direction: column;
  }

  #typebox{
    font-size: 9px;
  }
   
}

//SCROLLBARS

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.61);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
}
