html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
}

body {
  overflow-x: hidden;
}

#container {
  width: 100vw; 
  height: 500vh;
  background-color: #1c1c1c;
  position: relative; 
}

#bubble {
  right: 0; 
  top: 0; 
  width: 40vw; 
  height: 40vw; 
  border-radius: 50%;
  background: radial-gradient(circle, rgba(248,99,10,0.8) 0%, rgba(0,0,0,1) 100%);
  position: absolute;
}

#canvas {
  width: 100%; 
  height: 100%;
  position: absolute; 
  
}

#overlay {
  position: absolute; 
}

a{
  color: white; 
  text-decoration: none;
}

#menu {
  display: inline-block;
  position: sticky; 
  height: 5vh; 
  width: 100vw; 
  padding-left: 2%; 
  padding-right: 2%; 
  padding-top: 2%;
  z-index: 5; 
}

#title{
  display: inline-block;
  width: 5vw; 
  padding-right: 2vw; 
}

#center{
  position: absolute; 
  padding-left: 10%;  
  padding-top: 10%; 
  padding-right: 10%; 
}

#upfront{
  padding-right: 30%; 
}

#intro{
  padding-top: 0%; 
  width: 45%; 
  color: white; 
  font-size: 30px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

#descr{
  padding-top: 15%;
  text-align: center;
  padding-left: 32% !important;
  padding-right: 32% !important; 
  font-size: 20px;
  padding-right: 30%;
  font-family: Arial, Helvetica, sans-serif; 
  color: white;

}

#txt {
  text-align: left;
}

#consultancy{
  padding-left: 20%; 
  padding-right: 20%; 
  padding-top: 10%; 
  width: 50vw; 
  font-size: 18px; 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#middle{
  display: inline-block;
  width: 100vw; 
  align-items: center;
  text-align: center;
}

.head{
  margin: 0 auto; 
  display: inline-block; 
  padding-left: 5%;
}

#about{
  margin: 0 auto; 
  display: inline-block;
  padding-left: 5%;  
}

#contact{
  margin: 0 auto; 
  display: inline-block;
  padding-left: 5%;  
}


h1 {
  text-transform: uppercase;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
}

h2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
}

h3 {
  font-size: 45;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
  text-align: center; 
}

#rightpar{
  text-align: left !important; 
}

@media only screen and (max-width: 600px) {
  #center{
    position: absolute; 
    padding-left: 5%;  
    padding-top: 15%; 
    padding-right: 3%; 
  }

  h2{
    font-size: 60px; 
  }

  #intro{
    padding-top: 0; 
    width: 80%; 
    color: white; 
    font-size: 20px;
  }

  #descr{
    padding-top: 30%;
    text-align: center;
    padding-left: 5% !important;
    padding-right: 5% !important; 
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
  
  }

  #consultancy{
    padding-top: 10%; 
    margin: 0;
    width: 100%; 
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
}


@keyframes pulse {
  0% {
    opacity: 100%;
  }
  70% {
    opacity: 70%;
  }
  100% {
    opacity: 100%;
  }
}
@media only screen and (max-width: 600px) {

}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: none; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.61); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: none; /* creates padding around scroll thumb */
}/*# sourceMappingURL=main.css.map */